page-tutorial {
  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }
    .client{
        text-align: center;
        img{
            height: 18%;
            width: 18%;
        }
    }
    ion-slides{
        height: 70%;
    }
    .divider{
        background-color: #009933;
        text-align: center;
        color:white;
        font-size: 0.6em;
      }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    max-height: 40%;
    max-width: 60%;
    margin: 16px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }

}
