<ion-header no-shadow>
  <ion-navbar color="dark">
    <img src="../../assets/img/logo_monesco-1%20(1).png"/> 
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="primary">{{ 'TUTORIAL_SKIP_BUTTON' | translate}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides pager="true" dir="{{dir}}" (ionSlideWillChange)="onSlideChangeStart($event)">
    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.image" class="slide-image" />
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>
    </ion-slide>
    <ion-slide>
      <img src="assets/img/app.png" class="slide-image" />
      <h2 class="slide-title">{{ 'TUTORIAL_SLIDE4_TITLE' | translate }}</h2>
      <button ion-button icon-end full color="dark" (click)="startApp()">
        {{ 'TUTORIAL_CONTINUE_BUTTON' | translate }}
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
<ion-item-divider class="divider">
    <h3>WE ARE #1 IN WEB DESIGN AND DEVELOPMENT</h3>
<h5>The secret of our long history is the loyalty of our satisfied customers.</h5>
</ion-item-divider>
    
  <ion-navbar class="client" color="dark">
      <ion-title>OUR PRECIOUS CLIENTS</ion-title>
      
      <img src="../../assets/img/sponsor_033.png"/>
      <img src="../../assets/img/sponsor_0212.png"/>
      <img src="../../assets/img/sponsor_0412.png"/>
      <img src="../../assets/img/sponsor_061334.png"/>
    <img src="../../assets/img/sponsor_011233.png"/>
  </ion-navbar>
        
</ion-content>
